.container{
    display: flex;
    justify-content: center; 
}

.container {
    display: flex;
    justify-content: center; 
  }
  
  .imageContainer {
    position: relative;
    width: 80%;
    margin: 10px; 
  }
  
  .imageContainer img {
    width: 100%;
  }
  
  .text1 {
    
    position: absolute;
    top: 30%; 
    left: 50%;
    transform: translate(-50%, -50%);
    color: #757575;
    font-size: 28px;
    font-weight: 300;
    line-height: 50px;
    text-align: center;
  }

  .text2{
    position: absolute;
    top: 30%; 
    left: 50%;
    transform: translate(-50%, -50%);
    color: #777777;
    font-size: 24px;
    font-weight: 300;
    line-height: 50px;
    text-align: center; 
  }
  
  .text2 h1{
    font-weight: 600;
    font-size: 48px;
    line-height: 72px;
    text-align: center;
    color: rgb(255, 255, 255);
  }


  .text1 h1{
    font-weight: 600;
    font-size: 48px;
    line-height: 72px;
    text-align: center;
    color: black;
  }
  
  .text1 span {
    color: black;
  }

  .text2 span{
    color: white;
  }